# Shuttle-CCH23 git ignore file
# This file is used to ignore files that should not be committed to git
/target
/binary/target
/errors/target
/day1/target
/day4/target
/minus1/target
.shuttle-storage
Secrets*.toml
